.superbox-list {
    position: relative;
    display: inline-block;
    -webkit-transition: background 1s;
    transition: background 1s;
    width: 50%;
    min-height: 100px;
    min-width: 100px;
}

.superbox-list .dummy {
    padding-top: 100%;
}

.superbox-list img, .superbox-list svg{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 100%;
    min-height: 100%;
}

.superbox-list .superbox-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #DDD;
    text-align: center;
    text-shadow: 1px 1px #333;
    background-color: #000;
    background-color: rgba(0,0,0,0.7);
    -webkit-transition: height .25s;
    transition: height .25s;
    min-width: 100px;
    font-size: 13px;
    max-height: 100%;
    min-height: 100%;
}

.superbox-list:hover > .superbox-info  {
    display: block;
}
