    <a href="" id="menu-toggle"></a>
    <a class="logo pull-left" ng-click="togglePreview()"><i class="fa fa-bullhorn"></i> WakeMeUp</a>

    <div class="media-body">
        <div class="media" id="top-menu">
            <div class="pull-left tm-icon">
                <div class="icon-mode">
                    <i class="fa fa-bullhorn"></i>
                </div>
                <input type="checkbox" id="isBroadcaster" ng-model="isBroadcaster" ng-checked="isBroadcaster"/>
                <label for="isBroadcaster" class="switch">
                    <div class="slide"></div>
                </label>
            </div>
            <div class="pull-left tm-icon">
                <div class="icon-mode">
                    <i class="fa ear">
                        <?xml version="1.0" encoding="utf-8"?>
                        <!-- Generator: Adobe Illustrator 16.0.4, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                        <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                        <svg width="17px" height="17px"  version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	   viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
<path fill="#999" d="M490.594,144.054c-44.403-6.384-91.69-11.008-141.038-13.61L432,48l-32-32L287.721,128.278
	C277.218,128.094,266.643,128,256,128l0,0L128,0L96,32l97.098,97.098c-60.461,2.121-118.169,7.262-171.693,14.956
	C7.639,197.917,0,257.43,0,320s7.639,122.083,21.402,175.945C93.223,506.271,172.572,512,256,512
	c83.428,0,162.775-5.729,234.594-16.055C504.361,442.083,512,382.57,512,320S504.361,197.917,490.594,144.054z M431.946,437.297
	C378.081,444.18,318.571,448,256,448c-62.571,0-122.083-3.82-175.946-10.703C69.73,401.389,64,361.714,64,320
	c0-41.715,5.729-81.39,16.054-117.298C133.917,195.819,193.429,192,256,192c62.568,0,122.081,3.819,175.943,10.702
	C442.271,238.61,448,278.285,448,320C448,361.714,442.271,401.389,431.946,437.297z"/>
</svg>


                    </i>
                </div>
                <input type="checkbox" id="isListener" ng-model="isListener" ng-checked="isListener"/>
                <label for="isListener" class="switch">
                    <div class="slide"></div>
                </label>
            </div>
            <div class="media-body pull-left">
                <input type="text" class="main-search" ng-model="$parent.searchSong">
            </div>

            <div>
                <div class="dropdown pull-right">
                    <a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-users users-glyph"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu alert-dropdown">
                        <li ng-repeat="user in users | reverse | limitTo:quantity">
                            <a >{{user.name}} <span class="label label-default" ng-class="user.connected ? 'label-success' : 'label-danger'">{{user.connected ? "connected" : "disconnected"}}</span></a>
                        </li>

                        <li class="divider"></li>
                        <li>
                            <a >View All (Soon)</a>
                        </li>
                    </ul>
                </div>
                <div class="useless dropdown pull-right users-status">
                    <a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user" ng-class="{connected : connected}"></i> {{name | uppercase}} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a ><i class="fa fa-fw fa-user" ></i> Profile</a>
                        </li>
                        <li>
                            <a ><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                        </li>
                        <li>
                            <a ><i class="fa fa-fw fa-gear"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a ><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </div>
                <div id="time" class="pull-right">
                    <span id="hours"></span>
                    :
                    <span id="min"></span>
                    :
                    <span id="sec"></span>
                </div>
            </div>
            <!--<div class="media-body">-->
                <!--<input type="text" class="main-search">-->
            <!--</div>-->
        </div>
    </div>

